> # Pandas in 1 Hour

> Youtube: https://www.youtube.com/watch?v=E0fU5gaA3kE&t=313s

> Dataset: https://www.kaggle.com/gregorut/videogamesales

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("vgsales.csv", index_col = "Rank")

In [3]:
sales.dtypes

Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [4]:
sales.head(3)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

In [5]:
sales.tail(n = 2)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

## Sort Values

In [6]:
sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [7]:
sales.sort_values("Name", ascending= False).head(5)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
9137,¡Shin Chan Flipa en colores!,DS,2007.0,Platform,505 Games,0.00,0.00,0.14,0.00,0.14
471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
15526,uDraw Studio: Instant Artist,X360,2011.0,Misc,THQ,0.01,0.01,0.00,0.00,0.02
7837,uDraw Studio: Instant Artist,Wii,2011.0,Misc,THQ,0.08,0.09,0.00,0.02,0.19
628,uDraw Studio,Wii,2010.0,Misc,THQ,1.67,0.58,0.00,0.20,2.46

In [8]:
sales.sort_values(["Global_Sales", "Platform"], ascending= False).head(20)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

**Get statistics about the dataframe**

In [9]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.4+ MB

**Remove all rows with Nulls in Year**

In [10]:
sales = sales.dropna(subset= ["Year"])

In [11]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16327 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16327 non-null  object
 1   Platform      16327 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16327 non-null  object
 4   Publisher     16291 non-null  object
 5   NA_Sales      16327 non-null  float64
 6   EU_Sales      16327 non-null  float64
 7   JP_Sales      16327 non-null  float64
 8   Other_Sales   16327 non-null  float64
 9   Global_Sales  16327 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.4+ MB

> #### Change year type to Integer

In [12]:
sales["Year"] = sales["Year"].astype(int)

In [13]:
sales.head(3)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82

> #### Data Profiling
> 
>  Profile the number of unique values in a given column

In [14]:
sales.nunique()

Name            11360
Platform           31
Year               39
Genre              12
Publisher         576
NA_Sales          408
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      621
dtype: int64

> Small numbers indicate that these columns could be referenced as "categories" to save memory

In [15]:
sales["Platform"] = sales["Platform"].astype("category")
sales["Genre"] = sales["Genre"].astype("category")

> Note that the memory usage has decreased now by about 30%

In [16]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16327 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16327 non-null  object
 1   Platform      16327 non-null  category
 2   Year          16327 non-null  int64
 3   Genre         16327 non-null  category
 4   Publisher     16291 non-null  object
 5   NA_Sales      16327 non-null  float64
 6   EU_Sales      16327 non-null  float64
 7   JP_Sales      16327 non-null  float64
 8   Other_Sales   16327 non-null  float64
 9   Global_Sales  16327 non-null  float64
dtypes: category(2), float64(5), int64(1), object(2)
memory usage: 1.2+ MB

> Here's a value profile of a column

In [17]:
sales["Genre"].value_counts() 
sales["Genre"].value_counts(normalize = True) * 100

Action          19.924052
Sports          14.111594
Misc            10.473449
Role-Playing     9.009616
Shooter          7.852024
Adventure        7.815275
Racing           7.509034
Platform         5.365346
Simulation       5.212225
Fighting         5.120353
Strategy         4.109757
Puzzle           3.497274
Name: Genre, dtype: float64

> #### Change index from **Rank** to **Name**

> Before: *Rank* is bold

In [18]:
sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [19]:
sales = sales.reset_index() # Makes Rank a normal column again
sales = sales.set_index("Name") # Makes Name the new Index
sales = sales.sort_index(ascending= True)

In [20]:
sales.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
'98 Koshien,4756,PS,1998,Sports,Magical Company,0.15,0.10,0.12,0.03,0.41
.hack//G.U. Vol.1//Rebirth,8359,PS2,2006,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
.hack//G.U. Vol.2//Reminisce,7109,PS2,2006,Role-Playing,Namco Bandai Games,0.11,0.09,0.00,0.03,0.23
.hack//G.U. Vol.2//Reminisce (jp sales),8604,PS2,2006,Role-Playing,Namco Bandai Games,0.00,0.00,0.16,0.00,0.16
.hack//G.U. Vol.3//Redemption,8306,PS2,2007,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17

> After: *Name* is bold

> ## Filtering Rows
>
> 1. Filter Criteria based on the Index column

In [21]:
sales.loc[["Wii Sports", "Grand Theft Auto V"]]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Grand Theft Auto V,1898,PC,2015,Action,Take-Two Interactive,0.36,0.64,0.00,0.08,1.08
Grand Theft Auto V,198,XOne,2014,Action,Take-Two Interactive,2.66,2.01,0.00,0.41,5.08
Grand Theft Auto V,17,PS3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
Grand Theft Auto V,45,PS4,2014,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
Grand Theft Auto V,24,X360,2013,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38

> Filter based on selection criteria

In [22]:
bool_square_enix = sales["Publisher"] == "Square Enix"
sales[bool_square_enix]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Arkanoid DS,12430,DS,2007,Puzzle,Square Enix,0.06,0.00,0.00,0.00,0.06
Army Corps of Hell,10456,PSV,2011,Action,Square Enix,0.05,0.04,0.00,0.02,0.10
Blood of Bahamut,11003,DS,2009,Role-Playing,Square Enix,0.00,0.00,0.09,0.00,0.09
Bust-A-Move Universe,5717,3DS,2011,Puzzle,Square Enix,0.08,0.15,0.06,0.03,0.31
Chaos Rings III,12713,PSV,2014,Role-Playing,Square Enix,0.00,0.00,0.06,0.00,0.06
...,...,...,...,...,...,...,...,...,...,...
Tomb Raider (2013),895,X360,2013,Action,Square Enix,0.86,0.87,0.01,0.17,1.92
Tomb Raider (2013),3361,XOne,2014,Action,Square Enix,0.34,0.21,0.00,0.05,0.60
Valkyrie Profile 2: Silmeria,4177,PS2,2006,Role-Playing,Square Enix,0.04,0.03,0.39,0.01,0.47
Valkyrie Profile: Covenant of the Plume,4574,DS,2008,Role-Playing,Square Enix,0.23,0.02,0.16,0.02,0.42
Valkyrie Profile: Lenneth,5182,PSP,2006,Role-Playing,Square Enix,0.17,0.01,0.16,0.02,0.36

In [23]:
bool_action = sales["Genre"] == "Action"
sales[bool_action]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
.hack: Sekai no Mukou ni + Versus,14279,PS3,2012,Action,Namco Bandai Games,0.00,0.00,0.03,0.00,0.03
007: Quantum of Solace,1275,X360,2008,Action,Activision,0.82,0.52,0.01,0.14,1.49
007: Quantum of Solace,9320,DS,2008,Action,Activision,0.11,0.01,0.00,0.01,0.14
007: Quantum of Solace,4501,PS2,2008,Action,Activision,0.17,0.00,0.00,0.26,0.43
007: Quantum of Solace,3040,Wii,2008,Action,Activision,0.30,0.29,0.01,0.07,0.67
...,...,...,...,...,...,...,...,...,...,...
[Prototype],1505,X360,2009,Action,Activision,0.84,0.35,0.00,0.12,1.31
[Prototype],1604,PS3,2009,Action,Activision,0.65,0.41,0.00,0.19,1.24
inFAMOUS,488,PS3,2009,Action,Sony Computer Entertainment,1.76,0.69,0.12,0.37,2.94
inFAMOUS 2,941,PS3,2011,Action,Sony Computer Entertainment,1.05,0.49,0.08,0.23,1.85
inFAMOUS: Second Son,539,PS4,2014,Action,Sony Computer Entertainment,1.27,0.97,0.07,0.47,2.78

> Filter with boolean combinations

In [24]:
sales[bool_action & bool_square_enix].head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Army Corps of Hell,10456,PSV,2011,Action,Square Enix,0.05,0.04,0.00,0.02,0.10
Dragon Quest Heroes II: Twin Kings and the Prophecy's End,6205,PS4,2016,Action,Square Enix,0.00,0.00,0.28,0.00,0.28
Dragon Quest Heroes II: Twin Kings and the Prophecy's End,9540,PS3,2016,Action,Square Enix,0.00,0.00,0.13,0.00,0.13
Dragon Quest Heroes II: Twin Kings and the Prophecy's End,7062,PSV,2016,Action,Square Enix,0.00,0.00,0.23,0.00,0.23
Dragon Quest Heroes: Rocket Slime,4397,DS,2005,Action,Square Enix,0.13,0.00,0.31,0.01,0.45

In [25]:
bool_sales10 = sales["Global_Sales"] > 10
bool_early90s = sales["Year"].between(1991,1995)
sales[bool_sales10 & bool_early90s]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Super Mario All-Stars,58,SNES,1993,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55
Super Mario Land 2: 6 Golden Coins,51,GB,1992,Adventure,Nintendo,6.16,2.04,2.69,0.29,11.18

> ## Aggregate Operations

In [26]:
sales["Global_Sales"].sum()

8820.36

In [27]:
sales["Global_Sales"].max()

82.74

In [28]:
sales["Global_Sales"].min()

0.01

In [29]:
bool_min_sales = sales["Global_Sales"] == sales["Global_Sales"].min()
sales[bool_min_sales]

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
1/2 Summer +,16115,PSP,2013,Adventure,Kaga Create,0.00,0.00,0.01,0.0,0.01
15 Days,16543,PC,2009,Adventure,DTP Entertainment,0.00,0.01,0.00,0.0,0.01
Aa Megami-samaa,16216,PS2,2007,Adventure,Marvelous Interactive,0.00,0.00,0.01,0.0,0.01
Abunai: Koi no Sousa Shitsu,16052,PSP,2012,Action,Quinrose,0.00,0.00,0.01,0.0,0.01
Accel World: Kasoku no Chouten,16153,PSP,2013,Adventure,Namco Bandai Games,0.00,0.00,0.01,0.0,0.01
...,...,...,...,...,...,...,...,...,...,...
Zero no Tsukaima: Maigo no Period to Ikusen no Symphony,16235,PS2,2008,Adventure,Marvelous Interactive,0.00,0.00,0.01,0.0,0.01
ef - a fairy tale of the two.,16291,PS2,2010,Adventure,Comfort,0.00,0.00,0.01,0.0,0.01
htoL#NiQ: The Firefly Diary,16164,PSV,2014,Platform,Nippon Ichi Software,0.00,0.00,0.01,0.0,0.01
th!nk Logic Trainer,16420,Wii,2009,Puzzle,Conspiracy Entertainment,0.01,0.00,0.00,0.0,0.01
thinkSMART: Chess for Kids,16417,DS,2011,Misc,Mentor Interactive,0.01,0.00,0.00,0.0,0.01

> ## Grouping Operations

In [30]:
genre_group = sales.groupby("Genre")

In [31]:
genre_group["Global_Sales"].sum().sort_values(ascending=False)

Genre
Action          1722.88
Sports          1309.24
Shooter         1026.20
Role-Playing     923.84
Platform         829.15
Misc             797.62
Racing           726.77
Fighting         444.05
Simulation       390.16
Puzzle           242.22
Adventure        234.80
Strategy         173.43
Name: Global_Sales, dtype: float64

> ## Melting / Unpivoting

In [32]:
sales = sales.reset_index()
sales.head()

,Name,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,'98 Koshien,4756,PS,1998,Sports,Magical Company,0.15,0.10,0.12,0.03,0.41
1,.hack//G.U. Vol.1//Rebirth,8359,PS2,2006,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17
2,.hack//G.U. Vol.2//Reminisce,7109,PS2,2006,Role-Playing,Namco Bandai Games,0.11,0.09,0.00,0.03,0.23
3,.hack//G.U. Vol.2//Reminisce (jp sales),8604,PS2,2006,Role-Playing,Namco Bandai Games,0.00,0.00,0.16,0.00,0.16
4,.hack//G.U. Vol.3//Redemption,8306,PS2,2007,Role-Playing,Namco Bandai Games,0.00,0.00,0.17,0.00,0.17

> Note how the numeric columns essentially are all amounts

> These columns can be unpivoted to 2 columns of "Region" and "Sales"

>  Region    Sales
    ----    ------
>   NA        0.15

>   EU        0.10

In [33]:
sales_unpivot = sales.melt(
    id_vars=["Name", "Publisher"],
    value_vars=["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"],
    var_name="Region",
    value_name="Sales"
)
sales_unpivot.head()

,Name,Publisher,Region,Sales
0,'98 Koshien,Magical Company,NA_Sales,0.15
1,.hack//G.U. Vol.1//Rebirth,Namco Bandai Games,NA_Sales,0.00
2,.hack//G.U. Vol.2//Reminisce,Namco Bandai Games,NA_Sales,0.11
3,.hack//G.U. Vol.2//Reminisce (jp sales),Namco Bandai Games,NA_Sales,0.00
4,.hack//G.U. Vol.3//Redemption,Namco Bandai Games,NA_Sales,0.00

In [34]:
sales_unpivot[sales_unpivot["Name"] == "'98 Koshien"]

              Name        Publisher       Region  Sales
0      '98 Koshien  Magical Company     NA_Sales   0.15
16327  '98 Koshien  Magical Company     EU_Sales   0.10
32654  '98 Koshien  Magical Company     JP_Sales   0.12
48981  '98 Koshien  Magical Company  Other_Sales   0.03

# End of story